{
    "overrides": [
        {
            "files": ["**/*.json"],
            "options": {
                "singleQuote": false
            }
        }
    ],
    "printWidth": 150,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": true
}
